.form-group.required .control-label:after {
    content: "*";
    color: red;
}
.required {
    position: absolute;
    margin-left: -10px;
    color: #FB0000;
    font-size: 15px;
}
.body {
    color: #333;
    background-color: #dadada;
    padding: 5px 10px 20px;
}

.top-info {
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    color: #757575;
    min-height: 15px;
}

.main-module {
    background-color: #fcfcfc;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    margin-top: 8px;
}

.module-header {
    height: 150px;
}

.header-top-spacer {
    height: 15px;
}

.header-logo-color {
    background-color: #640c03;
    height: 102px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*overflow: hidden;*/
}

.logo {
    position: absolute;
    top: 10px;
    left: 30px;
}

.header-bottom-spacer {
    color: #696969;
    background-color: #e4e4e4;
    height: 36px;
    margin-top: 2px;
}

.module-body {
    padding: 20px;
}

.spacer {
    height: 20px;
    clear: both;
}


.field-validation-error {
    color: #b10000;
    font-size: smaller;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 2px ridge #ff0000;
    background-color: rgb(255,220,220);
    border-color: rgb(255,0,0);
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center
}




/*loaders:*/
.submit-progress {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 6em;
    padding-top: 2.3em;
    /* The following rules are the ones most likely to change */
    width: 20em;
    /* Set 'margin-left' to a negative number
     that is 1/2 of 'width' */
    margin-left: -10em;
    padding-left: 2.1em;
    background-color: black;
    color: white;
 }
.submit-progress-bg {

    background-color: lightgray;

    opacity: .5;

}
#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
}

#loading-message {
    position: absolute;
    width: 400px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    text-align: center;
    font-size: 1.2em;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -50px;
}

.LockOff { 
    display: none; 
    visibility: hidden; 
} 

.LockOn { 
    display: block; 
    visibility: visible; 
    position: absolute; 
    z-index: 999; 
    top: 0px; 
    left: 0px; 
    width: 105%; 
    height: 105%; 
    background-color: #ccc; 
    text-align: center; 
    padding-top: 20%; 
    filter: alpha(opacity=75); 
    opacity: 0.75; 
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}